.app {
  background-color: rgb(224, 226, 228);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box; 
}

h1 {
  text-align: center;
  width: 750px;
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  color: black;
  padding: 3%;
  background: rgb(44,69,97);
  background: linear-gradient(90deg, rgba(44,69,97,1) 0%, rgba(0,212,255,1) 54%, rgba(203,96,21,1) 100%);
}
