

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 725px;
    height: 725px;
    border: 2px solid green;
}


.box {
    width: 25px;
    height: 25px;
    /* flex: 1 1 2.3%; */
    /* flex-grow: 1; */
    border: 2px solid red;
}